
.brand-logo {
    width: 130px;
    height: 60px;
}

.nav-menu a {
    text-decoration: none;
    margin-right: 25px;
    font-size: 16px;
    font-weight: 500;
    color: #222222;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
}
.nav-menu a:hover {
    color: #ff6600;
}