


.faq-container .faq-container {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 50px;
    
}
.faq-container .faq-container .faq-title button {
    font-size: 24px;
    font-weight: 600;
    
}
.faq-container .faq-container .faq-title button:focus {
    box-shadow: none;
    outline: none;
    border-color: transparent;
}
.faq-container .faq-container .faq-title .accordion-button:not(.collapsed) {
    color: #ff6600;
    background-color: #e7f1ff;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}